<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>NGINX Fundamentals</title>
    </head>

<body>

    <header>
        <div class="inner">
            <div class="heading">
                <h1>This is from "{{ansible_hostname}}"</h1>
		<h2>Test of Ansible</h2>
                <br>
                <p>This is testing of Ansible automation.</p>
                <p>What we did here?</p>
                <hr>
                <ul>
                    <li>Install python and dependencies</li>
                    <li>Install NGINX</li>
                    <li>Configure NGINX as defined in the inventory hostlist</li>
                    <li>Install application and reload nginx</li>
                    <li>Install and configure mysql-flash as database</li>
                </ul>
            </div>
        </div>
    </header>

    <main>
    </main>

    <footer>
      <small><strong>This is Assignment for Advance Ansible course of Mumshad Manambeth</strong> &nbsp; &bull; &nbsp; <i>Demo Site</i></small>
    </footer>

</body>

</html>

